- name: install dependencies
  apt:
    - apache2
    - mariadb-server
    - php
    - php-mysqli
    - php-gd
    - php-xml 
    - git
    - libapache2-mod-php
  state: present

- name: apache running
  service:
    name: apache2
    state: started
    enabled: true

- name: mariadb running
  service:
    name: mariadb
    state: started
    enabled: true

- name: clone dvwa
  git:
    repo: https://github.com/digininja/DVWA.git
    dest: /var/www/html/dvwa
    version: master
    force: yes

 
- name: Deploy DVWA config
  template:
    src: config.inc.php.j2
    dest: /var/www/html/dvwa/config/config.inc.php
    owner: www-data
    group: www-data
    mode: "0644"

- name: Deploy DVWA config
  template:
    src: config.inc.php.j2
    dest: /var/www/html/dvwa/config/config.inc.php
    owner: www-data
    group: www-data
    mode: "0644"

- name: Fix permissions
  file:
    path: /var/www/html/dvwa
    owner: www-data
    group: www-data
    recurse: yes

- name: Enable Apache rewrite module
  command: a2enmod rewrite
  args:
    creates: /etc/apache2/mods-enabled/rewrite.load

- name: Restart Apache
  service:
    name: apache2
    state: restarted