- name: install dependencies
  apt:
    update_cache: yes
    name:
      - apache2
      - mariadb-server
      - php
      - php-mysqli
      - php-gd
      - php-xml
      - git
      - libapache2-mod-php
    state: present

- name: apache running
  service:
    name: apache2
    state: started
    enabled: true

- name: mariadb running
  service:
    name: mariadb
    state: started
    enabled: true

- name: clone dvwa
  git:
    repo: https://github.com/digininja/DVWA.git
    dest: /var/www/html/dvwa
    version: master
    force: true

- name: Deploy DVWA config
  template:
    src: config.inc.php.j2
    dest: /var/www/html/dvwa/config/config.inc.php
    owner: www-data
    group: www-data
    mode: "0644"

- name: Fix permissions
  file:
    path: /var/www/html/dvwa
    owner: www-data
    group: www-data
    recurse: yes

- name: Enable Apache rewrite module
  command: a2enmod rewrite
  args:
    creates: /etc/apache2/mods-enabled/rewrite.load


# --- LOGGING SETUP ---
- name: Deploy DVWA apache site config
  template:
    src: dvwa.conf.j2
    dest: /etc/apache2/sites-available/dvwa.conf
    mode: "0644"

- name: Disable default apache site
  command: a2dissite 000-default.conf
  ignore_errors: true

- name: Enable DVWA site
  command: a2ensite dvwa.conf
  args:
    creates: /etc/apache2/sites-enabled/dvwa.conf

- name: Restart Apache
  service:
    name: apache2
    state: restarted
