---
- name: Create Directory Structure for Keycloak (General)
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - /opt/keycloak
    - /opt/keycloak/import

- name: Create Certificate Directory for Keycloak
  ansible.builtin.file:
    path: /var/lib/keycloak/certs
    state: directory
    owner: "1000"
    group: "1000"
    mode: "0755"

# ---------------------------------------------------------
# STEP-CA INTEGRATION
# ---------------------------------------------------------
- name: Check if Keycloak certificate already exists
  ansible.builtin.stat:
    path: /var/lib/keycloak/certs/tls.crt
  register: keycloak_cert_stat

- name: Generate Keycloak Certificate locally
  ansible.builtin.shell: |
    step ca certificate auth.server.acme \
      /var/lib/keycloak/certs/tls.crt \
      /var/lib/keycloak/certs/tls.key \
      --ca-url https://auth.server.acme:9000 \
      --root /etc/step-ca/certs/root_ca.crt \
      --not-after=87600h \
      --password-file /etc/step-ca/password.txt
  when: not keycloak_cert_stat.stat.exists
  changed_when: true

- name: Set correct permissions for Keycloak certificates
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "1000"
    group: "1000"
    mode: "{{ item.mode }}"
  loop:
    - { path: /var/lib/keycloak/certs/tls.crt, mode: "0644" }
    - { path: /var/lib/keycloak/certs/tls.key, mode: "0600" }
  when: not keycloak_cert_stat.stat.exists
# ---------------------------------------------------------

- name: Copy realm-export.json
  ansible.builtin.template:
    src: realm-export.json.j2
    dest: /opt/keycloak/import/realm-export.json
    mode: "0644"

- name: Copy docker-compose
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: /opt/keycloak/docker-compose.yml
    mode: "0644"

- name: Start Keycloak with Docker Compose
  ansible.builtin.command:
    cmd: docker compose -f /opt/keycloak/docker-compose.yml up -d
  changed_when: false
