*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

-A INPUT -i lo -j ACCEPT

-A INPUT -p icmp -j ACCEPT -m comment --comment "Allow Ping"
-A INPUT -p tcp --dport 22 -j ACCEPT -m comment --comment "Allow SSH globally"

{% if (firewall | default({}))['ports'] is defined %}
{% for port in firewall.ports %}
{% if (firewall | default({}))['allowed_subnets'] is defined %}
{% for subnet in firewall.allowed_subnets %}
-A INPUT -p tcp --dport {{ port }} -s {{ subnet }} -j ACCEPT -m comment --comment "Allow TCP {{ port }} from {{ subnet }}"
-A INPUT -p udp --dport {{ port }} -s {{ subnet }} -j ACCEPT -m comment --comment "Allow UDP {{ port }} from {{ subnet }}"
{% endfor %}
{% else %}
-A INPUT -p tcp --dport {{ port }} -j ACCEPT -m comment --comment "Allow TCP {{ port }} globally"
-A INPUT -p udp --dport {{ port }} -j ACCEPT -m comment --comment "Allow UDP {{ port }} globally"
{% endif %}
{% endfor %}
{% endif %}

COMMIT