<?php

$_DVWA = array();
$_DVWA[ 'db_server' ]   = '127.0.0.1';
$_DVWA[ 'db_database' ] = '{{ dvwa_db_database }}';
$_DVWA[ 'db_user' ]     = '{{ dvwa_db_user }}';
$_DVWA[ 'db_password' ] = '{{ dvwa_db_password }}';
$_DVWA[ 'db_port']      = '3306';

$_DVWA[ 'recaptcha_public_key' ]  = '';
$_DVWA[ 'recaptcha_private_key' ] = '';

$_DVWA[ 'default_security_level' ] = 'low';
$_DVWA[ 'default_phpids_level' ] = '1';
$_DVWA[ 'default_phpids_status' ] = 'disabled';

?>
