---
- name: Install suricata IDS
  ansible.builtin.apt:
    name: suricata suricata-update jq evebox
    state: present
    update_cache: true

- name: Deploy IDS config
  ansible.builtin.template:
    src: suricata.yaml.j2
    dest: /etc/suricata/suricata.yaml
    mode: "0644"
  notify: Restart IDS

- name: Deploy IDS rules
  ansible.builtin.command: suricata-update update-sources
  register: ids_update_sources
  changed_when: "'Updated' in ids_update_sources.stdout"

- name: Ensure IDS service is enabled
  ansible.builtin.service:
    name: suricatas
    state: started
    enabled: true
