client london-router {
    ipaddr = 10.10.0.1
    secret = hacme123
    require_message_authenticator = no
}

client stockholm-router {
    ipaddr = 10.20.0.1
    secret = hacme123
    require_message_authenticator = no
}
