http:
  listen: "{{ openvpn_auth_oauth2_http_listen }}"
  baseurl: "{{ openvpn_auth_oauth2_http_baseurl }}"
  secret: "{{ vault_openvpn_oauth2_http_secret }}"

log:
  format: console
  level: INFO

oauth2:
  issuer: "{{ openvpn_auth_oauth2_issuer }}"
  provider: "{{ openvpn_auth_oauth2_provider }}"
  client:
    id: "{{ vault_openvpn_oauth2_client_id }}"
    secret: "{{ vault_openvpn_oauth2_client_secret }}"
  scopes:
    - openid
    - profile
    - email
  nonce: true
  pkce: true
  validate:
    issuer: true

openvpn:
  addr: "tcp://127.0.0.1:{{ openvpn_auth_oauth2_mgmt_port }}"
  password: "{{ vault_openvpn_mgmt_password }}"
