---
- name: Install OpenVPN
  ansible.builtin.apt:
    name: openvpn
    state: present
  notify: restart openvpn

- name: Configure OpenVPN
  ansible.builtin.copy:
    src: templates/server.conf.j2
    dest: /etc/openvpn/server/server.conf
    mode: "0644"
  notify: restart openvpn

- name: enable openvpn-server@{{ openvpn_server_name }}
  ansible.builtin.systemd:
    name: openvpn-server@{{ openvpn_server_name }}
    enabled: true

- name: configure sysctl for OpenVPN
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: 1
    state: present
  notify: restart openvpn
